.common-container {
  min-width: fit-content;
  flex: 1;
  max-height: 400px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.contact-list {
  margin: -8px;
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
  dt {
    padding: 10px;
    font-weight: bold;
    background-color: #eee;
    cursor: pointer;
    border-bottom: 1px solid#ddd;
  }
  dt:hover {
    background-color: #ddd;
  }
  dd {
    display: none;
    padding: 10px;
    border-bottom: 1px solid#bbb;
  }
  .expanded {
    dd {
      display: block;
    }
    .checked {
      background: green;
    }
  }
}

.plan-container {
  margin-top: 16px;
  button {
    margin-left: 8px;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin: 8px 0;
    }
  }
}

.counter-container {
  .counter-item {
    margin-right: 24px;
  }
  .counter-text {
    display: inline-block;
    width: 24px;
    text-align: center;
  }
  button {
    cursor: pointer;
  }
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .todo-title {
    font-weight: bold;
    text-align: center;
    line-height: 16px;
    i {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      opacity: 0.6;
      text-shadow: 2px 2px 2px #999;
    }
  }
  .todo-create {
    input {
      display: inline-block;
      padding: 4px;
      font-size: 16px;
    }
  }
  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      padding-bottom: 2px;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      .form {
        display: flex;
        align-items: center;
        span {
          font-size: 18px;
          display: inline-block;
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: -6px;
        }
        .done {
          text-decoration: line-through;
          font-style: italic;
        }
      }
      .remove {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-top: -6px;
        color: #666;
      }
      .remove:hover {
        color: #000;
      }
    }
    .edit {
      input {
        padding: 4px;
        font-size: 16px;
      }
    }
  }

  .todo-state {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
    }
    .number {
      font-weight: bold;
      margin-right: 3px;
    }
    a {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  .avatar {
    margin-bottom: 12px;
  }
  button {
    cursor: pointer;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 12px;
    input {
      margin-left: 8px;
    }
  }
  img {
    width: 192px;
    height: 108px;
    margin: 0 auto;
  }
}

.taskApp-container {
  button {
    margin-left: 8px;
    cursor: pointer;
  }
  .addtask-wrapper {
    margin: 8px;
  }
  .tasklist-wrapper {
    padding: 0 8px;
    li {
      list-style-type: none;
      margin-bottom: 8px;
    }
  }
}
