.context-container {
  min-width: fit-content;
  flex: 1;
  box-sizing: border-box;
  background-color: #eee;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: auto;
  .context-item {
    padding: 0 8px;
  }
}
