.context-container,
.taskapp-container {
  min-width: fit-content;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: auto;
  .context-item {
    padding: 0 8px;
  }
}

.taskapp-container {
  max-width: fit-content;
  button {
    margin-left: 8px;
    cursor: pointer;
  }
  .addtask-wrapper {
    margin: 8px;
  }
  .tasklist-wrapper {
    padding: 0 8px;
    li {
      list-style-type: none;
      margin-bottom: 8px;
    }
  }
}
