.common-container,
.profile-container {
  min-width: fit-content;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: auto;
  padding: 8px;
}

.counter-container {
  min-width: fit-content;
  .counter-item {
    margin-right: 24px;
  }
  .counter-text {
    display: inline-block;
    width: 24px;
    text-align: center;
  }
  button {
    cursor: pointer;
  }
}

.todo-wrapper {
  min-width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .todo-title {
    font-weight: bold;
    text-align: center;
    line-height: 16px;
    i {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      opacity: 0.6;
      text-shadow: 2px 2px 2px #999;
    }
  }
  .todo-create {
    input {
      display: inline-block;
      max-width: fit-content;
      padding: 4px;
      font-size: 16px;
    }
  }
  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      padding-bottom: 2px;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      .form {
        display: flex;
        align-items: center;
        span {
          font-size: 18px;
          display: inline-block;
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-top: -6px;
        }
        .done {
          text-decoration: line-through;
          font-style: italic;
        }
      }
      .remove {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-top: -6px;
        color: #666;
      }
      .remove:hover {
        color: #000;
      }
    }
    .edit {
      input {
        padding: 4px;
        font-size: 16px;
      }
    }
  }

  .todo-state {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
    }
    .number {
      font-weight: bold;
      margin-right: 3px;
    }
    a {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  .avatar {
    margin-bottom: 12px;
  }
  button {
    cursor: pointer;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}
