.common-container {
  min-width: fit-content;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 8px;
  overflow: auto;
  padding: 8px;
  @media screen and (max-width: 746px) {
    max-width: 360px;
  }
}

.counter-container {
  min-width: 360px;
  .counter-item {
    margin-right: 24px;
  }
  .counter-text {
    display: inline-block;
    width: 24px;
    text-align: center;
  }
  button {
    cursor: pointer;
  }
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .todo-title {
    font-weight: bold;
    text-align: center;
    line-height: 16px;
    i {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      opacity: 0.6;
      text-shadow: 2px 2px 2px #999;
    }
  }
  .todo-create {
    input {
      width: 100%;
      padding: 4px 8px;
      font-size: 16px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 300px;
    .display {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 6px 0;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      .item {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
          font-size: 20px;
          margin-left: 4px;
        }
        .done {
          text-decoration: line-through;
          font-style: italic;
        }
      }
      .remove {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
      }
    }
    .edit {
      input {
        width: 100%;
        padding: 4px 8px;
        font-size: 16px;
      }
    }
  }

  .todo-state {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
    }
    .number {
      font-weight: bold;
      margin-right: 3px;
    }
    a {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}
